@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustomWebApp</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">CustomWebApp</a>


                <form action="/search" method="get">
                    <input type="text" name="q" id="q" tabindex="1" maxlength="200" placeholder="Search Products" autocomplete="off" /><input type="submit" value="Search" />
                </form>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/about-us">About</a></li>
                    <li><a asp-page="/Contact">Contact</a></li>
                    @if(HttpContextAccessor.HttpContext.Request.Cookies["User"] == null) {
                        <li><a asp-page="/Login">Login</a></li>
                        <li><a asp-page="/Register">Register</a></li>
                    } else {
                        <li><a asp-page="/Account">Account</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <a href="/privacy-policy">Privacy</a><p>&copy; 2020 - CustomWebApp</p>
        </footer>
    </div>

    <script src="~/lib/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
