@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-6">
        <h2>This could be used to host anything</h2>
        <ul>
            <li>Anything.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li>So much content.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Things to try:</h2>
        <ul>
            <li>Search</li>
            <li>Login</li>
            <li>Static About View</li>
        </ul>
    </div>
</div>
