@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-md-6">
        <h2>This could be used to host anything</h2>
        <ul>
            <li>Anything.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li>So much content.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Things to try:</h2>
        <ul>
            <li><a href="/search?q=LED">Search</a>, <a href="/search?q=something">Search</a></li>
            <li><a href="/sign/in">Login</a>, <a href="/sign/reg">Register</a></li>
            <li><a href="/company-info">Company Info</a>, <a href="privacy.html">Privacy.html</a>, <a href="privacy.php">Privacy.php</a></li>
        </ul>
    </div>
</div>
